 footer{ 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin-top: auto;
}

footer p{ 
    font-size: 0.9em;
    color: #555;
    font-weight: 500;
    opacity: 0.7;
}

footer p:hover{
    opacity: 1;
}